@import "tailwindcss";

@theme {
  --font-serif: Bradford, serif;
  --font-sans: VisueltPro, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #000000;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
